<%= name %>, what is your age?

<form action = "post_age" method = "post">
  <input type = "text" name = "user[user_age]">
  <input type = "text" name = "user[user_name]" value = <%= name %> hidden>
  <input type = "submit">
</form>